@charset "utf-8";

body,
html {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  width: 100%;
  padding-top: 8rem;
  max-width: 100rem;
  margin: 0 auto;
} 

.container>.breadcrumbs {
    position: fixed;
    top: 0;
    left: 0;
    background: #b2b2b2;
    border-bottom: 1px solid #bbcce0;
    width: 100%;
    height: 8rem;
    background-color: #ddf2ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddf2ff), to(#d1eeff));
    background-image: -webkit-linear-gradient(top, #ddf2ff, #d1eeff);
    background-image: -moz-linear-gradient(top, #ddf2ff, #d1eeff);
    background-image: -o-linear-gradient(top, #ddf2ff, #d1eeff);
    background-image: -ms-linear-gradient(top, #ddf2ff, #d1eeff);
    background-image: linear-gradient(top, #ddf2ff, #d1eeff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ddf2ff', EndColorStr='#d1eeff');
}

.container>.breadcrumbs .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    align-items: center;
    height: 100%;
    color: #9098a7;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    text-shadow: 0px 1px 0px rgba(256, 256, 256, 0.4);
}

.container>.breadcrumbs .social li {
    width: 100%;
}

.box-foto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-foto span{
    margin-right: 2%;
}

.foto_perfil{
    width: 45px;
    height: 45px;
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}


/* ---------- MENU ---------- */

.tl-menu {
    position: fixed;
    /* overflow: hidden; */
    bottom: 0;
    left: 0;
    list-style-type: none;
    height: 10%;
    margin: 0;
    padding: 0;
    background: #1b1e24;
    z-index: 9999;
    display: none;
}

.tl-menu li a {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    border-bottom: 1px solid rgba(104, 114, 134, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a img {
    width: 40%;
}

/* ---------- MENU PC ---------- */

.tl-menu-pc {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #1b1e24;
    z-index: 9999;
}

.tl-menu-pc li a {
    display: block;
    height: 8rem;
    width: 7rem;
    text-align: center;
    color: #999;
    position: relative;
    border-bottom: 1px solid rgba(104, 114, 134, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-menu-pc li:first-child a {
    color: #FFF;
    background-color: black;
    text-shadow: 0 1px 1px rgba(57, 132, 177, 0.75);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tl-menu-pc ul li a img {
    width: 50%;
}


/* media query (depends on total height of menu) */
@media screen and (max-width: 41.5rem) {

    .tl-menu-pc {
        display: none;
    }

    .tl-menu {
        display: flex;
        justify-content: space-around;

    }

    .tl-menu ul li a img {
        width: 100%;
    }
}