<div class="container">
    <div class="breadcrumbs">
        <ul class="social">
            <li>FindMe</li>
            <li>{{nombre}} <img src="{{foto_perfil}}" alt=""></li>
        </ul>
    </div>
  
    <ul class="tl-menu">
        <li><a [routerLink]="['/home']"><img src="../assets/img/home.svg" alt="home"></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/compass.svg" alt=""></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/add.svg" alt=""></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/user.svg" alt=""></a></li>
    </ul>
  
    <ul class="tl-menu-pc">
        <li><a [routerLink]="['/home']"></a></li>
        <li><a [routerLink]="['/home']"><img src="../assets/img/home.svg" alt="home"></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/compass.svg" alt=""></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/add.svg" alt=""></a></li>
        <li><a [routerLink]="['/routePath']"><img src="../assets/img/user.svg" alt=""></a></li>
        <li><a></a></li>
        <li><a (click)="logOut()"><img src="../assets/img/logout.svg" alt=""></a></li>
    </ul>
    
    <div class="main">
        <router-outlet></router-outlet>
    </div>
  
  </div>