@charset "utf-8";

body,
html {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  width: 100%;
  padding-top: 8rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-left: 15%;
} 

.container>.breadcrumbs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #393e46;
}

.container>.breadcrumbs .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    align-items: center;
    height: 100%;
    color: #eeeeee;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
}

.container>.breadcrumbs .social li {
    width: 100%;
}

.box-foto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-foto span{
    margin-right: 2%;
}

.foto_perfil{
    width: 45px;
    height: 45px;
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}


/* ---------- MENU ---------- */

.tl-menu {
    position: fixed;
    /* overflow: hidden; */
    bottom: 0;
    left: 0;
    list-style-type: none;
    height: 10%;
    margin: 0;
    padding: 0;
    background: #393e46;
    z-index: 9999;
    display: none;
}

.tl-menu li a {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    border-bottom: 1px solid rgba(104, 114, 134, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a img {
    width: 40%;
}

/* ---------- MENU PC ---------- */

.tl-menu-pc {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #393e46;
    z-index: 9999;
}

.tl-menu-pc li a {
    display: block;
    height: 8rem;
    width: 7rem;
    text-align: center;
    color: #eeeeee;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(104, 114, 134, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-menu-pc ul li a img {
    width: 50%;
}


/* media query (depends on total height of menu) */
@media screen and (max-width: 41.5rem) {

    .main{
        padding: 0 15%;
        margin-left: 0;
    }

    .tl-menu-pc {
        display: none;
    }

    .tl-menu {
        display: flex;
        justify-content: space-around;

    }

    .tl-menu ul li a img {
        width: 100%;
    }
}