.contenedor {
    padding-top: 2%;
}

.perfil-datos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.imagen {
    position: relative;
    width: 30%;
    margin: 0 6% 0 5%;
}

.imagen div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    background-position: center;
    background-size: cover;
}
.datos {
    width: 50%;
}

.nombre-ajustes, .estadisticas{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 2%;
}

.nombre-ajustes h1{
    font-size: 3rem;
    margin-right: 20%;
}
.nombre-ajustes i{
    font-size: 2.4rem;
}

.estadisticas{
    text-align: left;
    font-size: 1.6rem;
}

.estadisticas p{
    width: 50%;
}

.estadisticas span{
    font-weight: bold;
} 

.bio{
    max-width: 80%;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

button{
    padding: 3%;
    width: 100%; 
}

@media screen and (max-width: 41.5rem) {
    .imagen {
        position: relative;
        width: 30%;
        margin: 0 12% 0 5%;
    }
}